/**
 * @Author: Your name
 * @Date:   2021-08-06 18:53:06
 * @Last Modified by:   Your name
 * @Last Modified time: 2021-08-07 10:06:00
 */



.mjh{
  width: 1504px;
  height: 446px; 

  background-color: #F4F4F4;
}


.mzpor{
    width: 1240px;
    height: 446px;
    margin: auto;
    
}

.mz18{

    height: 446px;
    
}


.gtav{
    margin: auto;
    width: 1240px;
    height: 60px;
    border-bottom: #F4F4F4 3px solid;
}

.jame{
    float: left;
    font-size: 23px;
    display: block;
    line-height: 57px;
    border-bottom: royalblue 3px solid;
}


.wede{margin-left: 50px;
    float: left;
    font-size: 23px;
    display: block;
    line-height: 60px;
}



.zxcv{
    width: 1240px;
    height: 60px;
    margin: auto;
}


.qwer{
    width: 1240px;
    height: 60px;

}



.asdf{
    line-height: 80px;
    font-size: 16px;
    
}


.dropdown{
    margin-left: 75px;
    margin-top: -56px;
}



.dropdown1{
    margin-left: 170px;
    margin-top: -34px;
}


.l3w{
    width: 1240px;
    height: 268px;
    margin: auto;

    border-bottom: #F4F4F4 3px solid;
}



.poiu{
    width: 350px;
    height: 188px;
    float: left;
    margin-right: 93px;
}






.wyf{
    font-size: 20px;
    margin-top: 30px;
    padding-bottom: 10px;
    color: royalblue ;
}

.dmz{
    font-size: 16px;
}







.wbq{
    width: 1240px;
    height: 160px;
    margin: auto;
    border-bottom: #F4F4F4 3px solid;
}


.mr{
    font-size: 18px;
    line-height: 100px;
    display: block;
    margin-left: 600px;
}


.uzi{
    text-align: center;
    display: block;
    width: 138px;
    height: 40px;
    border: 2px solid royalblue;
    padding: 6px;
    margin-left: 850px;
    margin-top: -70px;
    font-size: 18px;
}

.xiaogou{
    text-align: center;
    display: block;
    width: 138px;
    height: 40px;
    border: 2px solid royalblue;
    padding: 10px;
    margin-left: 1000px;
    margin-top: -40px;
    font-size: 18px;
}




