a:hover{
    text-decoration:none;
}
 .div3-1 a:hover{
    
    color: #008cff;
}
.div3-1{
    position: relative; 
    z-index: 3; 
    color:rgb(255,255,255,0.2);
}
.li3-1{
    float:left;
    line-height: 80px;

    display: inline-block;
    
}
.xia{
    display: none;
    position: absolute;
    
    left: 0px;
    background-color: #f9f9f9;
    width: 100%;
    height: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    
}
.li3-1:hover .xia{
display: block;
}
.li3-1 a{
    color: black;
    display: block;
    padding: 0 20px;
    text-decoration:none;

}
.li3-1 a:hover{
    color: rgb(59, 166, 255);
}
.div3-2 a{
    
    line-height: 80px;
    float: left;
}
.div3-2{
    z-index: 5;
margin-left: 50px;
}
.btn3-1{
    margin-top: 10px;
}
.li3-2{
    float: left;
}
.li3-2 img{
    width: 120px;
}
.li3-2 a p{
    height: 15px;
    color: black;
}
.xia-2{
    display: none;
    position: absolute;
    padding-left: 20px;
    left: 0px;
    background-color: #f9f9f9;
    width: 100%;
    height: 360px;
    box-shadow: none;
    z-index: 2;
    
}
.li3-1:hover .xia-2{
display: block;
}
.btn3-1{
    border: none;
}
.div3-3{
    position: relative;
    top: -80px; 
    z-index: 1;
}
.div3-4{
    position: relative;
    display: inline-block;
}
.xia-3{
    display: none;
    position: absolute;
    top: 50px;
    background-color: #f9f9f9;
    min-width:160px ;
    box-shadow: none;
    z-index: 2;
    
    
    
}
.xia-3 a{
    display: block;
}
.div3-4:hover .xia-3{
display: block;
}
.xia-4{
    display: none;
    position: absolute;
    top: 50px;
    background-color: #f9f9f9;
    min-width:400px ;
    height: 80px;
    line-height: 10px;
    box-shadow: none;
    z-index: 2;
    text-align: center;
    margin: 0 auto;
    right: 0;
    
}
.span3-8{
    display: block;
    padding-top: 15px;
    font-size: 12px;
    color:rgb(153, 153, 153) ;
}
.div3-4:hover .xia-4{
display: block;
}